.navbar .topnav {
  background: rgb(20, 81, 212);
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
  place-items: center;
  -moz-column-gap: 20rem;
       column-gap: 20rem;
  font-style: Verdana, Geneva, sans-serif;
}
.navbar .topnav .symbol {
  justify-content: center;
  display: flex;
}
.navbar .topnav .symbol .img-github {
  width: 70px;
  height: 70px;
}
.navbar .topnav .symbol .text-symbol {
  text-align: center;
  justify-content: center;
  place-items: center;
}
.navbar .topnav .symbol .text-symbol .boostem-name {
  position: relative;
  font-size: 1.7rem;
  top: 12px;
  right: 12px;
  margin-top: 1.2rem;
  color: white;
}
.navbar .topnav .symbol .text-symbol p {
  margin: 10px;
  bottom: 5px;
  color: gray;
}
.navbar .topnav .three-ACC {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  color: white;
  font-size: 1.8rem;
  position: relative;
  right: 100px;
}
.navbar .topnav .three-ACC a {
  cursor: pointer;
}
.navbar .topnav .search {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.navbar .topnav .search form .nosubmit form.nosubmit {
  position: relative;
  background-color: white;
  top: 200px;
}
.navbar .topnav .search form input.nosubmit {
  width: 260px;
  display: flex;
  border: 1px solid #fff;
  background-color: white;
  border: none;
  font-size: 20px;
  border-radius: 8px;
  padding: 9px 4px 9px 40px;
  position: relative;
  top: 23%;
  right: 12%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right;
  background-position-x: 222px;
}
.navbar .topnav .search .ri-node-tree {
  font-size: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  right: 20px;
  color: white;
  cursor: pointer;
}
.navbar .topnav .search .user-image {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
}
@media screen and (max-width: 1024px) {
  .navbar .topnav {
    grid-template-columns: 3fr;
    gap: 2rem;
  }
}

.main-left-top {
  border: solid 1px rgba(145, 142, 142, 0.601);
  display: flex;
  margin-top: 35px;
  width: 69.9vw;
  height: 44vh;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}
.main-left-top .photo-box {
  position: relative;
  top: 20px;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.main-left-top .photo-box .poster {
  display: flex;
  width: 69.9vw;
  height: 350px;
}
.main-left-top .photo-box .imag-user {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  left: 4%;
  top: 65%;
}
.main-left-top .photo-box .sumit-pencil h2 {
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  display: flex;
  position: absolute;
  padding: 20px;
  margin-top: 350px;
  top: 24%;
  margin-left: 20px;
}
.main-left-top .photo-box .sumit-pencil .ri-pencil-line {
  font-size: 33px;
  position: absolute;
  top: 460px;
  left: 95%;
  color: rgb(20, 81, 212);
  cursor: pointer;
}
.main-left-top .icon-poster {
  display: flex;
  height: 100px;
  width: 20%;
  position: absolute;
  top: 35%;
  margin-left: 1%;
  left: 52%;
}
.main-left-top .icon-poster p {
  margin-top: -4px;
  font-size: 20px;
  display: flex;
  margin: 22px;
  margin-top: 6px;
  cursor: pointer;
  color: gray;
}
.main-left-top .icon-poster i {
  font-size: 35px;
  cursor: pointer;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  color: rgb(20, 81, 212);
}
.main-left-top .bio {
  position: absolute;
  margin-top: 520px;
  margin-right: 400px;
  display: inline-flex;
  font-style: Verdana, Geneva, sans-serif;
  font-size: 23px;
}
.main-left-top .bio p {
  margin-left: 10px;
  margin-left: 40px;
  width: 70%;
}
.main-left-top .bio i {
  font-size: 35px;
  cursor: pointer;
  display: flex;
  color: rgb(20, 81, 212);
  margin-top: 16px;
  margin-right: 20%;
}

.interest-skills {
  width: 102.5%;
  display: inline-flex;
  border: solid 1px rgba(145, 142, 142, 0);
}
.interest-skills .interest {
  width: 35%;
  border: solid 1px rgba(145, 142, 142, 0.601);
}
.interest-skills .interest .skills-pencil {
  display: inline-flex;
}
.interest-skills .interest .skills-pencil h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
}
.interest-skills .interest .skills-pencil i {
  font-size: 35px;
  display: flex;
  color: rgb(20, 81, 212);
  margin-left: 330px;
  margin-top: 10px;
  cursor: pointer;
}
.interest-skills .interest .interest-list {
  display: inline-table;
  position: static;
  margin-left: 20px;
  color: gray;
  font-size: 30px;
}

.asper-1 {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 1px;
  margin: 20px 0 0 2px;
  height: 90vh;
  width: 72%;
  border: solid 1px rgba(128, 128, 128, 0.508);
}
.asper-1 .currently {
  width: 72%;
  margin-left: 2%;
  padding-bottom: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.asper-1 .asper-body {
  box-sizing: border-box;
  border: solid 1px rgba(128, 128, 128, 0.508);
  margin-left: 20px;
  margin-top: -450px;
  height: 300px;
  width: 30%;
}
.asper-1 .asper-body .blank {
  background-color: #eaac92;
  height: 80px;
}
.asper-1 .asper-body .asper-imag {
  display: inline-flex;
}
.asper-1 .asper-body .asper-imag .asper-image {
  display: flex;
  position: 0;
  height: 80px;
  width: 80px;
  border-radius: 10%;
  z-index: 2;
  margin-top: -35px;
  margin-left: 10px;
}
.asper-1 .asper-body .asper-imag h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 10px;
  margin-top: -5px;
}
.asper-1 .asper-body .asper-bio {
  margin-left: 13px;
}
.asper-1 .asper-body .asper-bio h3 {
  margin-top: 5px;
  font-weight: 100;
}
.asper-1 .asper-body .asper-bio p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 50;
  font-size: 15px;
}
.asper-1 .asper-body .follow {
  margin-left: 13px;
}
.asper-1 .asper-body .follow h2 {
  font-size: 20px;
  margin-top: -10px;
  color: rgb(27, 121, 199);
  cursor: pointer;
}
.asper-1 .asper-body .asper-rating {
  margin-left: 13px;
  display: inline-flex;
}
.asper-1 .asper-body .asper-rating h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 150;
  color: rgb(71, 69, 69);
}
.asper-1 .asper-body .asper-rating .star {
  margin-left: 70px;
  margin-top: 23px;
}
.asper-1 .asper-body .asper-rating .star i {
  color: rgb(226, 223, 47);
}

.main-right {
  position: absolute;
  border: solid 1px rgba(128, 128, 128, 0.508);
  display: inline-flex;
  width: 26%;
  height: 252.5vh;
  margin: 0 10px 0 10px;
  top: 8vh;
}
.main-right .right-button {
  position: absolute;
  height: 293vh;
}
.main-right .right-button h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px;
  font-weight: 400;
  font-size: 40px;
}
.main-right .right-button h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px;
  font-weight: 300;
  font-size: 30px;
  margin-top: -20px;
}
.main-right .right-button button {
  margin-top: 10px;
  margin-left: 4%;
  font-size: 25px;
  cursor: pointer;
  border: solid 4px rgb(12, 184, 170);
  background-color: transparent;
  color: rgb(7, 158, 177);
  padding: 10px 15px 32px;
  width: 120%;
  height: 3vh;
}
.main-right .right-button button:hover {
  background-color: rgb(14, 177, 131);
  color: white;
}
.main-right .right-button .button-connect {
  font-size: 1.8rem;
}
.main-right .right-button p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px;
  font-weight: 300;
  font-size: 20px;
  margin-top: 7px;
}
.main-right .chatbox {
  position: absolute;
  width: 300px;
}
.main-right .chatbox .one-chat {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  word-wrap: break-word;
  height: 7vh;
  width: 25vw;
  margin: 15vh 600px 20px 4px;
  cursor: pointer;
}
.main-right .chatbox .one-chat img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
}
.main-right .chatbox .one-chat i {
  cursor: pointer;
}
.main-right .chatbox .one-chat i em {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  word-wrap: break-word;
  margin-left: 20px;
  margin-top: 10px;
  font-style: normal;
}
.main-right .chatbox .one-chat i .neil {
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 4px;
  font-style: normal;
  font-weight: 400;
}
.main-right .chatbox .one-chat i .rgpv {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 4px;
  font-weight: 170;
}
.main-right .chatbox .one-chat i .ecomm {
  font-weight: 120;
}

.footer-1 .plane {
  display: flex;
  height: 2%;
  margin-top: 237rem;
  position: absolute;
  background-color: rgb(14, 177, 131);
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: -275%;
  width: 95.7vw;
}
.footer-1 .plane p {
  display: flex;
  margin-left: 2%;
  color: whitesmoke;
  font-size: 1.8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  white-space: nowrap;
}
.footer-1 .plane .icons-footer {
  position: relative;
  display: inline-flex;
  margin-left: 55%;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
}
.footer-1 .plane .icons-footer i {
  justify-content: space-between;
  margin-left: 20px;
  font-size: 1.8rem;
  cursor: pointer;
}
.footer-1 .plane-below {
  position: relative;
  display: inline-flex;
  top: 103%;
  display: grid;
  grid-template-columns: 3, 1fr;
  -moz-column-gap: 20%;
       column-gap: 20%;
}
.footer-1 .plane-below .plane-column1 {
  width: 65%;
  margin-left: -260%;
  height: 20rem;
}
.footer-1 .plane-below .plane-column1 h2 {
  color: rgb(20, 81, 212);
  font-size: 1.7rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer-1 .plane-below .plane-column1 p {
  color: gray;
  font-size: 1rem;
}
.footer-1 .plane-below .plane-column1 i {
  color: gray;
  display: flex;
  display: inline-flex;
  vertical-align: middle;
  cursor: pointer;
}
.footer-1 .plane-below .plane-column2 {
  width: 65%;
  margin-top: -45%;
  margin-left: -120%;
  height: 20rem;
}
.footer-1 .plane-below .plane-column2 h2 {
  color: rgb(20, 81, 212);
  font-size: 1.7rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer-1 .plane-below .plane-column2 h3 {
  display: flex;
  color: gray;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;
}
.footer-1 .plane-below .plane-column3 {
  margin-top: -45%;
}
.footer-1 .plane-below .plane-column3 h2 {
  color: rgb(20, 81, 212);
  font-size: 1.7rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer-1 .plane-below .plane-column3 .name0 {
  display: flex;
}
.footer-1 .plane-below .plane-column3 .name0 .name {
  position: absolute;
  font-style: 12px;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer-1 .plane-below .plane-column3 .name0 .name-fill {
  margin-left: 5rem;
  font-size: 1.2rem;
  border: 1px solid black;
  color: rgb(71, 69, 69);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 1rem;
}
.footer-1 .plane-below .plane-column3 .textt {
  display: flex;
  position: absolute;
  font-size: 5rem;
  width: 60%;
}
.footer-1 .plane-below .plane-column3 .submit-footer {
  display: flex;
  font-size: 2rem;
  position: absolute;
  color: rgb(12, 184, 170);
  margin-top: 20%;
}
@media screen and (max-width: 1024px) {
  .footer-1 {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .footer-1 {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}/*# sourceMappingURL=main.css.map */